spring:
  datasource:
    url: jdbc:${DATABASE_URL:postgresql://localhost:5432/electricity_business}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    root: INFO
    com.eb: INFO
